
.entry-selection-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}

.entry-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 1rem;
}

.entry-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #2d2d2d;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: box-shadow 0.2s;
  width: 260px;
  height: 100px;
  background-color: #1e1e1e;
  &:hover {
    border: 1px solid #3DCF8E;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  }
}

